# Various temp files.
*.DS_Store
*.swp
*.swo
.vagrant

# Local Vagrant config file
/Vagrant.local.yml

# Local wordpress config
/docroot/wp-config.local.php

# Ignore node modules
/node_modules/
*.log

# Ignore screenshots
/screenshots/